# Final Project

![stroke_image](stroke_image.png)

## 1. Thu nhập dữ liệu:

Hôm nay, chúng ta sẽ tìm hiểu về 1 căn bệnh nằm trong top 10 căn bệnh gây tử vong hàng đầu đó chính là đột quỵ và các yếu tố ảnh hưởng đến đột quỵ. Từ đó có thể dự đoán sớm những người có nguy cơ mắc phải cũng như tìm ra điểm chung của những người này để có các biện pháp ngăn ngừa giúp giảm nguy cơ đột quỵ.

Đột quỵ là gì?

- Đột quỵ (tai biến mạch máu não) là tình trạng não bộ bị tổn thương nghiêm trọng, xảy ra khi dòng máu cung cấp cho não bị gián đoạn hoặc có một mạch máu trong não bị vỡ. Khi đó, lượng oxy và dinh dưỡng nuôi các tế bào não bị giảm đáng kể. Trong vòng vài phút, các tế bào não bắt đầu chết dần và gây ra nhiều biến chứng nguy hiểm đến tính mạng người bệnh. 
- Theo [thống kê của WHO](https://www.who.int/en/news-room/fact-sheets/detail/the-top-10-causes-of-death), đột quỵ đứng thứ 2 trong top 10 căn bệnh gây tử vong nhiều nhất. Nó gây ra cái chết của hơn 6 triệu người, chiếm hơn 11% tổng số ca tử vong trong cùng 1 năm.

Dữ liệu được lấy từ [Stroke Prediction Dataset](https://www.kaggle.com/fedesoriano/stroke-prediction-dataset) trên kaggle của tác giả [fedesoriano](https://www.kaggle.com/fedesoriano).

Với dữ liệu này, tác giả cho phép chúng ta sử dụng cho mục đích học tập. Còn nếu sử dụng cho mục đích khác như nghiên cứu, thì phải ghi nguồn tác giả.

## 2. Khám phá dữ liệu:

Đầu tiên ta sẽ đọc dữ liệu từ file

In [1]:
import pandas as pd
import numpy as np
import math

Ta sẽ xem thử vài dòng đầu để có cái nhìn khái quát về dữ liệu.

In [2]:
df=pd.read_csv("healthcare-dataset-stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [3]:
df.shape

(5110, 12)

Dữ liệu có 5110 dòng và 12 cột.

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng biểu diễn cho thông tin liên quan của mỗi một bệnh nhân. Nhìn thì ta có thể thấy các dòng không có gì bất thường

### Ý nghĩa của mỗi cột:
- id: Mã định danh của mỗi người
- gender: Giới tính ("Male", "Female", "Other")
- age: Tuổi của bệnh nhân
- hypertension: Bệnh nhân có bị cao huyết áp không (0: Không, 1: Có)
- heart_disease: Bệnh nhân có bị bệnh tim không (0: Không, 1: Có)
- ever_married: Đã kết hôn chưa ("No","Yes")
- work_type: Loại công việc ("Children", "Govt_jov", "Never_worked", "Private" or "Self-employed")
- Residence_type: Khu vực cư trú ("Rural": Nông thôn, "Urban": Đô thị)
- avg_glucose_level: Nồng độ đường trong máu
- bmi: Chỉ số bmi của cơ thể
- smoking_status: Tình trạng hút thuốc ("formerly smoked": Trước đây có hút thuốc nhưng giờ bỏ rồi, "never smoked": Chưa bao giờ hút, "smokes": Hút thuốc, "Unknown": Không có thông tin)
- stroke: Bệnh nhân có bị đột quỵ không (0: Không, 1: Có)

### Dữ liệu có các dòng bị lặp không?

In [4]:
have_duplicated_rows=any(df.duplicated())
have_duplicated_rows

False

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [5]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

Ta thấy có vẻ cột age hơi bất thường vì tuổi phải là 1 số nguyên, không thể là kiểu float được. còn lại thì các cột khác đều có kiểu dữ liệu phù hợp.

Tí nữa ta sẽ tiền xử lý cột age ngay dưới đây

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

Hiện có vẻ có 7 cột thuộc nhóm numeric là: "id","age","hypertension","heart_disease","avg_glucose_level","bmi" và "stroke". Tuy nhiên, 4 cột "id","hypertension","heart_disease" và "stroke" thật ra là dạng categorical( vì là mã được đánh dưới dạng số). Như vậy chỉ có 3 cột thuộc numeric là "age","avg_glucose_level" và "bmi"

Với mỗi cột ta sẽ tính tỉ lệ % giá trị thiếu, min và max và lưu vào dataframe nume_col_profiles_df.

In [6]:
def missing_ratio(s):
    return s.isna().mean()*100
nume_col_profiles_df=df[["age","avg_glucose_level","bmi"]].agg([missing_ratio,min,max])
nume_col_profiles_df

                 age  avg_glucose_level        bmi
missing_ratio   0.00               0.00   3.933464
min             0.08              55.12  10.300000
max            82.00             271.74  97.600000

Ta thấy rằng các cột "age" và "avg_glucose_level" đều có đủ giá trị, chỉ có cột "bmi" là thiếu gần 4% giá trị. Còn min max chỉ có 1 điểm bất thường là min của cột age là 0.08 (tuổi không thể là số thực như vậy được)

Giờ ta đã xuất hiện 1 vấn đề cần tiền xử lý đó là cột age xuất hiện những giá trị số thực. 

---

## Tiền xử lý

Theo như tìm hiểu thì các giá trị age là số thực đều là của những đứa trẻ dưới 3 tuổi. Vì còn nhỏ tuổi, nên người ta tính thêm cả tháng tuổi từ đó dẫn đến số tuổi không nguyên. 1 cách để tiền xử lý là ta có thể làm tròn số tuổi của những đứa trẻ này lên, rồi sau đó ta sẽ đổi kiểu dữ liệu của cột age này về kiểu int.

In [7]:
df['age']=df['age'].apply(math.ceil)
df['age']=df['age'].astype("int")

### Giờ ta sẽ xem lại thử kiểu dữ liệu cột age đã là "int" và các giá trị phân bố trong age đúng chưa?

In [8]:
df.dtypes

id                     int64
gender                object
age                    int64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [9]:
nume_col_profiles_df=df[["age","avg_glucose_level","bmi"]].agg([missing_ratio,min,max])
nume_col_profiles_df

                age  avg_glucose_level        bmi
missing_ratio   0.0               0.00   3.933464
min             1.0              55.12  10.300000
max            82.0             271.74  97.600000

Nhìn qua thì ta thấy mọi thứ đã ổn

## Khám phá dữ liệu (tiếp tục)

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

df có 9 cột kiểu categorical là: "id","hypertension","heart_disease","stroke","gender","work_type","ever_married","smoking_status" và "Residence_type".

Ở mỗi cột categorical, ta sẽ tính tỉ lệ % giá trị thiếu, số lượng khác nhau và show ra các giá trị khác nhau (không tính giá trị thiếu).

In [10]:
def num_diff_vals(s):
    return s.nunique()
def diff_vals(s):
    return s.dropna().unique()
cate_df=df[["id","hypertension","heart_disease","stroke","gender","work_type","Residence_type","ever_married","smoking_status"]]
cate_col_profiles_df=cate_df.agg([missing_ratio,num_diff_vals,diff_vals])
cate_col_profiles_df

,id,hypertension,heart_disease,stroke,gender,work_type,Residence_type,ever_married,smoking_status
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_diff_vals,5110,2,2,2,3,5,2,2,4
diff_vals,"[9046, 51676, 31112, 60182, 1665, 56669, 53882...","[0, 1]","[1, 0]","[1, 0]","[Male, Female, Other]","[Private, Self-employed, Govt_job, children, N...","[Urban, Rural]","[Yes, No]","[formerly smoked, never smoked, smokes, Unknown]"

*Ta có thể thấy không có cột nào thiếu giá trị. Số lượng giá trị khác nhau và các giá trị khác nhau cũng không có gì bất thường*