## Môi trường code

In [34]:
import sys
sys.executable

'C:\\ProgramData\\Miniconda3\\envs\\min_ds-env\\python.exe'

## Import các thư viện cần thiết

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

## Thu thập dữ liệu

Trong bài này, ta sẽ dùng dữ liệu đã được thu thập sẵn là file "healthcare-dataset-stroke-data.csv" đính kèm; đây là dữ liệu về một căn bệnh cực kì nguy hiểm và luôn nằm top đầu trong những căn bệnh gây tử vong cho con người. Dữ liệu này được lấy từ kaggle, bản quyền thuộc về tác giả [fedesoriano](https://www.kaggle.com/fedesoriano) và gốc của dữ liệu là [ở đây](https://www.kaggle.com/fedesoriano/stroke-prediction-dataset).

Cụ thể, dataset này cho chúng ta các thông số về đột quỵ, nhiều yếu tố gây nên như tuổi tác, giới tính, tiền sử bệnh tim, hút thuốc,... Từ đó, qua phân tích những dữ liệu này chúng ta có thể đưa ra một vài dự đoán để giúp mọi người có các biện pháp phòng tránh phù hợp.

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [36]:
stroke_df = pd.read_csv('healthcare-dataset-stroke-data.csv')
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

### Dữ liệu gồm bao nhiêu dòng và bao nhiêu cột

(num_rows, num_cols) = stroke_df.shape
print(num_rows)
print(num_cols)

Vậy là dữ liệu gồm 5110 dòng và 12 cột

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo quan sát sơ bộ về dữ liệu thì một dòng cho biết thông tin của một người về các yếu tố ảnh hưởng đến bênh đột quỵ. Có vẻ không có dòng nào bị "lạc loài".

### Dữ liệu có các dòng bị lặp không?

In [37]:
have_duplicated_rows = any(stroke_df.duplicated())
have_duplicated_rows

False

Dữ liệu các dòng không bị lặp

### Mỗi cột có ý nghĩa gì?

Dưới đây là phần mô tả của khóa học "The Analytics Edge" về các cột trong file "mvt.csv":
- **id**: mã định danh duy nhất cho mỗi người
- **gender**: giới tính ("Male": Nam, "Female": Nữ, "Other": Giới tính khác).
- **age**: tuổi tác.
- **hypertension**: có bị huyết áp cao hay không (0: Không, 1: Có).
- **heart_disease**: có bị bệnh tim hay không (0: Không, 1: Có).
- **ever_married**: đã từng kết hôn chưa ("Yes": có, "No": không).
- **work_type**: loại công việc ("Children": trẻ con, "Govt_jov": công việc chính phủ, "Never_worked": chưa từng làm việc, "Private": riêng tư, "Self-employed": tự kinh doanh).
- **Residence_type**: loại khu vực cư trú ("Rural": nông thôn, "Urban": đô thị)
- **avg_glucose_level**: mức đường huyết trung bình.
- **bmi**: chỉ số bmi của mỗi người.
- **smoking_status**: tình trạng hút thuốc ("formerly smoked": đã từng hút thuốc trước kia, "never smoked": chưa bao giờ hút thuốc, "smokes": có hút thuốc, "Unknown": Không rõ thông tin)
- **stroke**: kết quả có bị đột quỵ hay không (0: không, 1: có).

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [38]:
stroke_df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

**Vấn đề cần tiền xử lý:**

- Cột "age" đang có dtype là `float64`. Để có thể tiếp tục khám phá thêm về cột này, ta sẽ thực hiện bước tiền xử lý là chuyển sang dạng `int64`.

## Tiền xử lý

### Chuyển dtype của cột "age" sang int

Trước khi chuyển ta sẽ làm tròn giá trị để tránh sai dữ liệu.

In [39]:
stroke_df['age'] = stroke_df['age'].apply(math.ceil)
stroke_df['age'] = stroke_df['age'].astype("int")

## Khám phá dữ liệu (tiếp tục)

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào?

Hiện có 8 cột có vẻ là thuộc nhóm numeric: "id","age","hypertension","heart_disease","avg_glucose_level","bmi" và "stroke". Tuy nhiên, 4 cột "id","hypertension","heart_disease" và "stroke"  thật ra là dạng categorical (vì là mã được đánh dưới dạng số). Như vậy, chỉ có 3 cột numeric là "age","avg_glucose_level" và "bmi". 

Với mỗi cột numeric ta sẽ tính tỉ lệ % giá trị thiếu (từ 0 đến 100), min, max đồng thời lưu kết quả vào dataframe `nume_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "min", "max"; và có 3 cột là "age","avg_glucose_level" và "bmi".

In [40]:
def missing_ratio(s): #với s là một cột được chọn
    return s.isna().mean() * 100
nume_col_profiles_df = stroke_df[["age","avg_glucose_level","bmi"]].agg([missing_ratio,min,max])
nume_col_profiles_df

                age  avg_glucose_level        bmi
missing_ratio   0.0               0.00   3.933464
min             1.0              55.12  10.300000
max            82.0             271.74  97.600000

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?

`stroke_df` có 9 cột categorical là "id","hypertension","heart_disease","stroke","gender","work_type","ever_married","smoking_status" và "Residence_type".

Với mỗi cột categorical, ta tính tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị khác nhau (không xét giá trị thiếu), list/array các giá trị khác nhau (không xét giá trị thiếu), sau đó lưu kết quả vào dataframe `cate_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals"; và có 9 cột là "id","hypertension","heart_disease","stroke","gender","work_type","ever_married","smoking_status" và "Residence_type".

In [30]:
def num_diff_vals(s):
    return s.nunique()
def diff_vals(s):
    return s.dropna().unique()
cate_col_profiles_df = stroke_df[["id","hypertension","heart_disease","stroke","gender","work_type","Residence_type",
                                  "ever_married","smoking_status"]].agg([missing_ratio, num_diff_vals, diff_vals])
cate_col_profiles_df

,id,hypertension,heart_disease,stroke,gender,work_type,Residence_type,ever_married,smoking_status
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_diff_vals,5110,2,2,2,3,5,2,2,4
diff_vals,"[9046, 51676, 31112, 60182, 1665, 56669, 53882...","[0, 1]","[1, 0]","[1, 0]","[Male, Female, Other]","[Private, Self-employed, Govt_job, children, N...","[Urban, Rural]","[Yes, No]","[formerly smoked, never smoked, smokes, Unknown]"